.orders {
  height: 100%;
  overflow-x: hidden;
  &__title-add {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
  }
}

.orders__content--wrapp {
  max-height: 100vh;
}
